<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel = 'tests'>
  <test thread-count="5" name="Test">
    <classes>
      <!--  class name="docker.Grid_docker2"/>-->
      <!-- class name="docker.Grid_docker"/>-->
      <!-- class name="docker.Grid_docker3"/>-->
      <class name = "docker.Test1" />
      
     </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
